html,body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font-family: Raleway;
}
section{
  min-height: 99vh;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.main-title {
  text-shadow: 1px 1px 1px #eee;
}
.underline-2,
.underline {
  background-color: #666;
  padding: 2px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 10px;
  transition: all .3s ease-in-out;
}
.underline-2 {
  background-color: #eee;
  margin: 0;
  padding: 1px;
}
.showreel {
  text-decoration: none;
  background-color: rgba(240,43,36,.9);
  color: #fff;
  font-size: 16px;
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  box-shadow: 0 0;
  text-shadow: none;
  transition: all .3s ease-in;
}
.showreel:hover,
.showreel:active {
  text-decoration: none;
  background-color: rgba(220,43,36,1);
  color: #fff;
  padding: 10px 50px;
  box-shadow: 1px 1px 3px #aaa;
  text-shadow: 1px 1px 1px #666;
}
.showreel:focus {
  text-decoration: none;
  color: #fff;
}
section.splitview {
  display: flex;
  min-height: 500px;
}
.splitview > .view > h1 {
  text-transform: inherit;
}
.splitview > .view > div.block {
  margin-top: 20px;
  padding: 20px;
  font-size: 16px;
  text-shadow: none;
  background-color: rgba(0,0,0,.2);
}
.splitview > .view {
  flex: 1;
  text-align: left;
  text-shadow: 1px 1px 2px #aaa;
  padding: 40px;
  color: #fafafa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
  transition: all .3s ease-in;
}
.splitview > .view:hover {
  background-size: 44%;
}
.splitview > .view:hover > .underline-2 {
  width: 200px;
}
.splitview > .view.roto {
  background-image: url(../images/scissors.png);
  background-color: #006495;
}
.splitview > .view.paint {
  background-image: url(../images/paint.png);
  background-color: #004C70;
}
.text {
  padding: 20px 50px;
  text-align: center;
}
.text p {
  margin-bottom: 20px;
}
.header-img {
  min-height: 300px;
  background-image: url(../images/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #eee;
  box-shadow: inset 0 0 8px #aaa;
}
.about-text{
  font-size: 18px;
}
.type-text{
  font-size: 18px;
  color: #fff !important;
}
.design-empty{
color: #333;
border-color: #333;
background-color: transparent;
padding: 10px 22px
}
.design-empty:hover {
color: #535353;
background-color: #ccc
}
